
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  align-items: center;
  justify-content: center;

}
.right_buttons button{
  padding: 4px 30px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  outline: none;
  /* background: #2b9b2f; */
  background:#3e7eb9;
  color: #ffffff;
  border-radius: 40px;
  cursor: pointer;
  margin-left:10px
}
.logo
{
  width: 180px;
    height: 45px;
    margin-top: -20px;
    /* margin-top: -10px; */
}

.drag-area {
  border: 2px  dotted #585555;
  height: 45px;
  width: 1700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.left
{
  display: flex;
  margin-top: 10px;
  overflow:hidden;
  background-color: white;
}
.upload-file {
  display: flex;
  margin-left: 25px;
}
.bookingForm .right {
  background-color: white;
  /* border: 2px solid #565252; */
  /* margin-left: 15px; */
  margin-top: 15px;
}
.right-container
{
  margin-left: 0px;
/* margin-left: 20px;
margin-top: 15px; */
/* margin-bottom: 15px; */
/* margin-left: 20px; */
display: table; 
}
label {
display: inline-block;
float: left;
clear: left;
font-weight: bold
}

input[type=text]{ 
  margin-bottom: 5px;
  border-radius: 4px; 
  display: inline-block;
  float: right;
  margin-right: 70px;
}
.drag-area.active{
    border: 2px solid #c7c6c6;
}
.drag-area .icon{
  font-size: 100px;
  color: #565252;
}
.drag-area header{
  font-size: 15px;
  font-weight: 500;
  opacity: 0.7;
  color: #565252;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #565252;
  margin: 10px 0 15px 0;
}

.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #565252;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.doc_types{
  display:flex;
    /* margin-bottom: 5px; */
    margin-top: 5px;
}
.doc_types_col
{
  flex: 1;
  margin-left: 10px;
  margin-top: 5px;
}  

.right_row{
  /* border:  2px solid #565252 !important; */
  display:flex
  }
.right_col
{
  flex: 1;
}
.right_col:first-child {
margin-right: 20px;
} 
.doc_container
{
border:  2px solid #948f8f ;
margin-top: 5px;
/* width: 90%; */
/* width: 96%; */

width: 114%;

margin-bottom: 8px;
}
#Country_field,
#local_brand_name,
#Dosage,
#Variation_Number,
#Effective_date,
#CLP,#New_NPI,#Tracking_Number,#HA_approved,#New_or_existing
{
/* margin-right: 336px; */
/* margin-right: 632px; */
fill: #c7c6c6;
width: 260px;
}
#Document_Type_1,#Document_Type_2,#Document_Language_1,#Document_Language_2,#file_name_2,#file_name_1
{
border-radius: 25px;
width: 350px;
}
.country-dropdown
{
  margin-top: 10px;
  margin-left: 10px;
/* margin-left: 66px;
margin-bottom: 10px; */
}
select
{
border-radius: 5px;
width: 115px;
}
.logo
{
width: 180px;
  height: 45px;
}
p{
font-weight: bold;
}
.right_buttons
{
    /* margin-left: 38%; */
    /* margin-left: 44%; */

    margin-left: 41%;
    /* margin-bottom: 10px; */
    margin-top: 5px;

}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: xx-large;
color: #3e7eb9;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar
{
  height: 40px;
  overflow:hidden;
background-color: white;

}
#upload_file
{
  cursor: pointer
}
.drop_down_label
{
  margin-top: 10px;

}
.logout_img
{
  margin-top: -11px;
}
.right_col.right_div
{
  margin-left: 10px;
}
.doc_container_down
{
  margin-top: 5px;
      width: 114%;
      
      margin-bottom: 8px;
}
#Country_field,
#Dosage,
#Effective_date,
#New_NPI,#HA_approved
{
/* margin-right: 150px; */
margin-right: 142px;

}
#Variation_Number,
#local_brand_name,
#CLP,
#Tracking_Number
,#New_or_existing
{
margin-right: 160px;

}
.asterisk 
{
  color:hsl(215deg 69% 33%)
}