/* 

.user-page{
    height: 300px;
    margin-top: 30px;
    width: 450px;
    border-radius: 10px;
    background-color: white !important;
     margin-left: 33%;
    padding-top: 85px; 
    margin-left: 64%;
    padding-top: 85px;
    opacity: 0.8;
  } */

  .user-page {
    height: 445px;
    margin-top: 30px;
    width: 450px;
    border-radius: 10px;
    /* background-color: white !important; */
    /* background-color: hsl(215deg 54% 48%) !important; */
    background-color: hsl(215deg 69% 33%)!important;
    margin-left: 64%;
    /* padding-top: 200px; */
    padding-top: 95px;
    opacity: 0.8;
}
  
  .login-form{
    margin-bottom: 10px;
    margin-right: 30px;
    border-radius: 10px;
    width: 300px;
    position: center;
  }
  .logo
  {
    width: 180px;
    height: 45px;
    /* margin-left: 42%; */
    margin-left: 73%;

  }
  #login_btn
  {
    /* margin-left:180px; */
    /* background-color: #3e7eb9; */
    /* background-color:white;
    color: hsl(215deg 69% 33%); */

    margin-left: 150px;
    /* background-color: #3e7eb9; */
    background-color: white;
    color: hsl(215deg 69% 33%);
    width: 135px;
    border-radius: 11px;
    margin-top: 15px;
    font-weight: bold
  }

  .bg-light {
    background-color: #f8f9fa!important;
    /* background-image: url(https://c1.wallpaperflare.com/preview/839/207/808/pill-tablet-pharmacy-medicine.jpg); */
    background-image: url(https://wallpaperaccess.com/full/321170.jpg);
    /* opacity:0.8; */

    
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
}

input[type=text]
{
  color:rgb(81 139 187);
}
.labels
{
  color: white;
}
.col-sm-10 {
  
  margin-left: 70px;
}
